@import "general.css";

.wrapper.spotlight {
  background-color: #4c5c96;
}

.wrapper.spotlight:before,
.wrapper.spotlight:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%234c5c96%3B' /%3E%3C/svg%3E");
}

.wrapper.spotlight:before {
  box-shadow: inset 0 -1px 0 0 #4c5c96, 0 1px 0 0 #4c5c96;
}

.wrapper.spotlight:after {
  box-shadow: inset 0 -1px 0 0 #3a59c7, 0 1px 0 0 #4c5c96;
}

.wrapper.spotlight .inner {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.wrapper.spotlight .image {
  border-radius: 100%;
  margin: 0 3em 2em 0;
  width: 22em;
  overflow: hidden;
}

.wrapper.spotlight .image img {
  border-radius: 100%;
  width: 100%;
}

.wrapper.spotlight .content {
  width: 100%;
}

.wrapper.spotlight.style2 {
  background-color: #45558d;
}

.wrapper.spotlight.style2:before,
.wrapper.spotlight.style2:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%2345558d%3B' /%3E%3C/svg%3E");
}

.wrapper.spotlight.style2:before {
  box-shadow: inset 0 -1px 0 0 #45558d, 0 1px 0 0 #45558d;
}

.wrapper.spotlight.style2:after {
  box-shadow: inset 0 -1px 0 0 #45558d, 0 1px 0 0 #45558d;
}

.wrapper.spotlight.style1 {
  background-color: #3f4e85;
}

.wrapper.spotlight.style1:before,
.wrapper.spotlight.style1:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%233f4e85%3B' /%3E%3C/svg%3E");
}

.wrapper.spotlight.style1:before {
  box-shadow: inset 0 -1px 0 0 #3f4e85, 0 1px 0 0 #3f4e85;
}

.wrapper.spotlight.style1:after {
  box-shadow: inset 0 -1px 0 0 #3f4e85, 0 1px 0 0 #3f4e85;
}

.wrapper.spotlight.alt .inner {
  flex-direction: row-reverse;
  text-align: right;
}

.wrapper.spotlight.alt .image {
  margin: 0 0 2em 3em;
}
